<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel"
          [(ngModel)]="pessoa.nome" required minlength="5">
        <div *ngIf="nome.hasError('required') && nome.dirty" class="ui-message ui-messages-error">
          Informe o nome
        </div>
        <div *ngIf="nome.hasError('minlength') && nome.dirty" class="ui-message ui-messages-error">
          Mínimo de {{nome.errors.minlength.requiredLength}} caracteres
        </div>
      </div>
      <div class="ui-g-9 ui-md-3 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro"
          ngModel #logradouro="ngModel"
          [(ngModel)]="pessoa.endereco.logradouro" required minlength="5">
      </div>
      <div class="ui-g-3 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero" required maxlength="4"
          ngModel [(ngModel)]="pessoa.endereco.numero" #numero="ngModel">
      </div>
      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" maxlength="100"
          ngModel [(ngModel)]="pessoa.endereco.complemento" #complemento="ngModel">
      </div>
      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro"
          ngModel #bairro="ngModel" [(ngModel)]="pessoa.endereco.bairro" required minlength="5">
      </div>
      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>
      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text" name="cidade" [(ngModel)]="pessoa.endereco.cidade"
          ngModel #cidade="ngModel" required minlength="5">
      </div>
      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Estado</label>
        <p-dropdown [options]="ufs" placeholder="Selecione" [(ngModel)]="pessoa.endereco.estado"
          name="estado" [autoWidth]="false" [filter]="true" required></p-dropdown>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="submit" label="Novo" class="ui-button-info"></button>
        <a href="#">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
