<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)" >
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de': 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos"
        name="tipo" [(ngModel)]="lancamento.tipo"
        #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"
          name="dataVencimento" [(ngModel)]="lancamento.dataVencimento"></p-calendar>
      </div>
       <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{tipo.value == 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"
          name="dataPagamento" [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          [(ngModel)]="lancamento.descricao" 
          #descricao="ngModel" required minlength="5">
          <div *ngIf="descricao.hasError('required') && descricao.dirty" class="ui-message ui-messages-error">
            Informe uma descrição
          </div>
          <div *ngIf="descricao.hasError('minlength') && descricao.dirty" class="ui-message ui-messages-error">
            Mínimo de {{descricao.errors.minlength.requiredLength}} caracteres
          </div>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText currencyMask [(ngModel)]="lancamento.valor" 
          [options]="{prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
          name="valor" placeholder="0,00">
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false" #categoria placeholder="Selecione"
          name="lancamento.categoria.codigo" [(ngModel)]="lancamento.categoria.codigo"
          required> </p-dropdown>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [autoWidth]="false" [filter]="true" #pessoa placeholder="Selecione"
          name="lancamento.pessoa.codigo" [(ngModel)]="lancamento.pessoa.codigo"
          required> </p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
          [(ngModel)]="lancamento.observacao"></textarea>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="novo(f)"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
